button{ width:200px;
    height:50px;
    background-color: whitesmoke;
font-style: soild ;
border-color: orange;
color: orange;
border-radius: 10px;
transition: 0.3s;
padding: 10px;
margin: 10px;}


button:hover{background-color: orange;
color:white;
text-decoration: underline;
text-underline-offset: 2px;}


.button1{width: 200px;
    height: 50px;
background-color: white;

color:black;
}